
  .weather-icons-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background: black; 
  max-height: 100vh; 
  overflow-y: hidden; 
}

.weather-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 7px 0;
  
}

.weather-icon-item img {
  width: 30px; 
  height: 30px;
  margin-bottom: 5px;
}

.weather-icon-item p {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}
